html {
    background:#f8e4e4;
    font-family:'Comfortaa';
    font-size:medium;
    text-align:center;
    width:100%;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
}

body {
    margin-left:0px;
    margin-top:70px;
    margin-right:0px;
}

#banner-image {
    height: 106px; 
    width: 582px;
}

#banner-div {
    margin-top:2%;
}

#poem {
    text-align:center;
    font-family:'Bad Script';
}

#poem h1 {
    display:inline-block;
}

.magnets {
    border:5px solid black;
    height:300px;
    width:300px;
    text-align:center;
    margin-right:2%;
    margin-top:2%;
    display:inline-block;
    overflow:hidden;
}

.magnets:hover {
    border:5px double #ff0000;
}

.magnet-img {
    height:300px;
    width:300px;
}

.row {
    width:100%;
    margin-top:1%;
}

.content {
    margin: 5px 100px 5px 100px;
    text-align:left;
    font-size:larger;
}

.navigation {
    background:black;
    width:100%;
    height:40px;
    margin-left:0px;
    margin-top:-70px;
    text-align:left;
    position: fixed;
}

.video {
    float: right;
}

.content img {
    float:left;
    padding:5px 20px;
}

.content li {
    padding-top:20px;
}

.content .special-img {
    float:none;
}

a {
    text-decoration: none;
}




.sddm {	
	margin: 0;
	padding: 0;
	z-index: 30}

.sddm li {	
	margin: 0;
	padding: 5px;
	list-style: none;
	float: left;
	font: normal 20px 'Comfortaa';
}

.sddm li a {	
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: auto;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

.sddm li a:hover {	
	background: #808080
}

.sddm li a:active {
	background: #a0a0a0;
}

.sddm div {	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: black;
}

.sddm div a {	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: 0;
	color: #FFF;
	font: 20px 'Comfortaa';
}

.sddm div a:hover {	
	background: #808080;
}
